* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: url('calculator.jpg') no-repeat center fixed;
    background-size: cover;
    width: 100%;
}

.container {
    text-align: center;
    margin-top: 25px;
}

table {
    margin: auto;
    padding-top: 15px;
}

input {
    font-size: 50px;
    text-align: right;
    background-color: black;
    color: white;
    height: 120px;
    width: 400px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 23px;
}

button {
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(238, 189, 227);
    width: 102px;
    height: 100px;
    cursor: pointer;
    box-shadow: -3px -3px 5px #302e2e ;
    border: none;
    border-radius: 50px;
}
button:hover{
    transform: scale(1.02);
}
button#equal{
    height: 200px;
}
button#sum{
    height: 200px;
}
button#clear{
    color: rgb(245, 42, 42);
    background-color: rgb(250, 186, 144);
}
button#digit{
    background-color: rgb(139, 128, 240);
}
.calculator {
    display: inline-block;
    background-color: rgb(243, 19, 206);
    padding: 26px;
    border-radius: 25px ;
    box-shadow: 0 0 30px black;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
